/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.app {
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  color: #ff6b35;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333333;
}

.cart-profile {
  display: flex;
  align-items: center;
}

.cart-icon,
.profile-icon {
  margin-left: 15px;
}

/* Main Content */
.main {
  padding: 20px;
}

.username {
  color: #ff6b35;
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stat-item {
  margin: 0 15px;
}

.stat-item span {
  font-size: 24px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.action-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  padding: 20px;
}

.action-card h4 {
  margin-bottom: 15px;
}

.action-btn {
  display: block;
  width: calc(100% - 20px);
  margin: auto auto; 
  padding: 10;
}
