/* General Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.app {
  text-align: center;
  min-height: 100vh; /* Ensure the app takes at least the full height of the viewport */
  display: flex;
  flex-direction: column; /* Stack header, main, and footer */
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%; /* Use percentage for padding */
  background-color: #ffffff;
}

.logo {
  font-family: 'Geologica', sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.logo-part.blue {
  color: #3c5a82;
}

.logo-part.orange {
  color: #f06e4b;
}

.nav {
  display: flex;
  float: left;
  margin-right: auto;
  margin-left: 60px;
  font-weight: 600;
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: medium;
  font-size: 20px;
  color: #3c5a82;
}

.cart-profile {
  display: flex;
  align-items: center;
}

.cart-icon,
.profile-icon {
  margin-left: 15px;
}

.cart-count {
 padding: 10px;
}

/* Main Content Styles */
.main {
  padding: 20px;
  flex-grow: 1; /* Allow main to grow and take available vertical space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
}

.greeting {
  color: #3c5a82;
  font-size: 2em; /* Increase font size */
  font-weight: 500;
  margin-bottom: 0.5em;
}

.username {
  color: #f06e4b;
  font-size: 4em; /* Increase font size */
  margin-top: 0;
}

.stats-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.all-stats {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #e0f2f7;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.2em; /* Increase font size */
}

.stat-item {
  display: inline-flex;
  align-items: center;
  margin: 0 30px;
  font-size: 1em;
}

.stat-number {
  font-weight: bold;
  margin-right: 15px;
  font-size: 1.8em;
  color: #3c5a82;
}

.stat-item {
  color: #545454;
  font-weight: normal;
  margin-top: auto;
}

/* Actions Section */
.actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 3%; /* Use percentage for gap */
  flex-wrap: wrap;
  color: #696969;
  width: 90%; /* Limit the width of actions */
}

.action-card {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%; /* Use percentage for width */
  min-width: 250px; /* Minimum width for smaller screens */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #3C5A82;
}

.action-img {
  width: 100px; /* Increase image size */
  height: 100px; /* Increase image size */
  margin-bottom: 10px;
  margin-top: 40px;
}

.action-card h4 {
  margin-bottom: 15px;
  font-size: 1.2em; /* Increase font size */
}

.action-btn {
  display: block;
  width: calc(100% - 20px);
  margin: 5px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em; /* Increase font size */
}

.orange-btn {
  background-color: #f06e4b;
  color: white;
}

.blue-btn {
  background-color: #3c5a82;
  color: white;
}
